--extra-index-url https://download.pytorch.org/whl/cpu

numpy<2
mkl==2024.0.0

torch==2.5.1+cpu
torchvision==0.20.1+cpu

fastai
fastcore
fastdownload
fasttransform

voila
ipywidgets
jupyterlab_widgets
widgetsnbextension
pillow
